html, body {
  height: 100%;
}

html {
  font-family: 'Lato', san-serif;
  font-size: 16px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  line-height: 1.4em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:first-child {
  margin-top: 0px !important;
}

menu, nav {
  display: flex;
  position: relative;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 20px 0px 0px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-items: center;
}

h1 > svg, h2 > svg, h3 > svg,
h4 > svg, h5 > svg, h6 > svg {
  margin-bottom: 0.1em !important;
  vertical-align: text-bottom;
}

h1 {
  font-size: 62px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

hr {
  width: 10vw;
  height: 2px;
  margin: 30px auto 0px;
  background-color: currentcolor;
  border: 0px;
}

p {
  margin: 20px 0px 0px;
  line-height: 1.6em;
}

p:first-of-type {
  margin-top: 40px;
}

a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

i, *.italic {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  letter-spacing: unset;
}

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

svg {
  width: auto;
  height: 1em;
  fill: currentcolor;
  flex-shrink: 0;
}

svg:not(:only-child):first-child {
  margin-right: 10px;
}

svg:not(:only-child):last-child {
  margin-left: 10px;
}

button, a.button {
  display: inline-flex;
  margin-top: 40px;
  padding: 15px 30px 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100em;
  transition: background-color 0.2s ease;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 420px) {
  hr {
    margin-top: 20px;
  }

  p:first-of-type,
  button, a.button {
    margin-top: 30px;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 38px;
  }
}